p {
    color: brown;
    font-size: 20px;
  }
 body {
    background-color: #F9F2E3;
    }
   h2 {
    background-color: rgb(214,86,43);
    color: rgba(255,255,255,.9);
    padding: 10px;
   }
   p {
   color: green;
    }
   div {
    background-color: hsl(60,100%,25%);
    color: hsla(120,100%,50%,0.1);
   }